<a href="https://colab.research.google.com/github/Madushani-Weerasekara/PracticePython/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions

##Intializing and calling bassic function

In [45]:
def welcome():
  print("Hellow guyz welcome to the python boot camp!")

In [46]:
welcome()

Hellow guyz welcome to the python boot camp!

##Intializing and calling bassic function - with argument

In [47]:
def welcome(a):
  print("Hello {0},welcome to the python boot camp!".format(a))

In [48]:
welcome("Madu")

Hello Madu,welcome to the python boot camp!

##Print and Return

In [49]:
def add(a,b):
  add = a+b
  print("Sum of {0} and {1} is {2}".format(a,b,add)) # just print the statement. In print statement it won't save it in any memory.

In [50]:
add(5,9)

Sum of 5 and 9 is 14

###Return

In [51]:
def addR(a,b): # In return it will save in the memory
  add = a+b
  return add

In [52]:
addR(5,9)

14

##Map function

In [53]:
def cubeFn(num):
  return num**3

In [54]:
a = [8,6,4,7,9,2,5]
list(map(cubeFn,a))

[512, 216, 64, 343, 729, 8, 125]

##Filter function

In [55]:
def evenFn(num):
  return num % 2 == 0

In [56]:
a = [0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]

In [57]:
print(list(filter(evenFn,a))) # The focus is on the when only the condition is true

[0, 2, 4, 6, 8, 10]

##Lambda function

In [58]:
cubeFn = lambda num:num**3
cubeFn(6)

216

##args and *kwargs

###args

In [59]:
def add(*argg): # Here, can use any variable instead of argg
  return sum(argg)

In [60]:
add(45,63,1,25,76,100,86,95,42,37,250,94) # no need of defining all the variables in the function using this function we can pass any number of arguements.

914

###kwargs - dictionary of key/value pairs

In [61]:
def func(**kwargs):
  if 'name' in kwargs:
    print("My name is {0}".format(kwargs['name']))
  if 'age' in kwargs:
    print('My age is {0}'.format(kwargs['age']))
  else:
    print('No key found')

In [62]:
func(name = 'Madu', age = 23)

My name is Madu
My age is 23

#Object Oriented Programming

##Class

In [63]:
class Student:
  print('Helllow all')
x = Student() #Object instantiation

Helllow all

In [64]:
print(type(x))

<class '__main__.Student'>

In [65]:
class Student:
  def studentFn():
    print('Hello all welcome to the session')
Student.studentFn()

Hello all welcome to the session

In [66]:
class Student:
  def studentFn(self):
    print('Hellow all welcome to the session')
x = Student()
x.studentFn()

Hellow all welcome to the session

##Class object atribute

In [67]:
class Student:
  year = 2021
  def studentFn(self):
    print('Hellow all welcome to the session')
x = Student()
x.year

2021

In [68]:
class Student:
  year = 2021
  def studentFn(self):
    print('Hellow all welcome to the session',self.year)
x = Student()
x.studentFn()

Hellow all welcome to the session 2021

###Atribute of an object

In [69]:
class Student:
  def __init__(self,name): # init(method) to initialize attribute os an object(constructor)
    pass
    self.name = name # self.name = attribute initialized
# creating instance of Student class(object of certain class)
elon = Student(name = 'Elon Musk') # name: argument
print(elon.name) # accessing class attribute through object

Elon Musk

In [70]:
# Create multiple instance for a single class
class Student:
  def __init__(self,name):
    self.name = name
elon = Student(name = 'Elon Musk')
champ = Student(name = 'I am Champ')

print(elon.name)
print(champ.name)

Elon Musk
I am Champ

In [71]:
class Student:
  def __init__(self,name,age):
    # Attribute initializing
    self.name = name 
    self.age = age
# create object
elon = Student(name = 'Elon Musk',age = 40)

print(elon.name)
print(elon.age)

Elon Musk
40

In [72]:
class Student:

  total = 500

  def __init__(self,marks):
    self.marks = marks
    print('Initialized...')

  def findLoss(self):
    return self.total - self.marks

  def findPercentage(self):
    return self.marks/self.total*100

a = Student(marks = 450)

print('Total Marks : ',a.total)
print('Lossed Marks : ',a.findLoss())
print('Percentage : ', a.findPercentage())

Initialized...
Total Marks :  500
Lossed Marks :  50
Percentage :  90.0

In [73]:
class Student:
  def __init__(self,name,marks,gender):
    self.name = name
    self.marks = marks
    self.gender = gender
  
    print('Initialized...')

  def __len__(self):
    return self.marks

  def __str__(self):
    return 'name : %s | marks : %s | gender : %s |'%(self.name,self.marks,self.gender)

  def __del__(self):
    print('Student database is deleted')

a = Student('Madu',450,'Female')

print(a)
print('Marks : ', len(a))
del a

Initialized...
name : Madu | marks : 450 | gender : Female |
Marks :  450
Student database is deleted

#Inheritance - Helps to reduce the complexity of the program

##Base class and Derived class

In [74]:
class Elon: # Base class
    def __init__(self):
      print('Profile has created')

    def name(self):
      print('Elon Musk')

    def age(self):
      print('Age is ',40)


class SpaceX(Elon):
  def __init__(self):
    Elon.__init__(self)
    Elon.name(self)
    print('Company profile created')


  def name(self):
    print('SpaceX')

  def type(self):
    print('Private space travel')

In [75]:
a = SpaceX()

Profile has created
Elon Musk
Company profile created

In [76]:
a.name() # Derived class modified the behavior of the base class

SpaceX

In [77]:
a.age()

Age is  40

#Polymorphism

#####Different object classes can share the same method name, and those methods can be called from the same place even though a different object passed in.

In [78]:
class Elon:
  def __init__(self,name):
    self.name = name

  def type(self):
    return 'Enterprenure'

class Sundar:
  def __init__(self,name):
    self.name = name

  def type(self):
    return 'CEO'

person1 = Elon('Elon Musk') # name argument
person2 = Sundar('Sundar Pichai')

In [79]:
# Returning unique result of object which have same method(type)
print(person1.name)
print(person1.type())
 
print(person2.name)
print(person2.type())

Elon Musk
Enterprenure
Sundar Pichai
CEO

In [80]:
for i in [person1,person2]:
  print(i.name)
  print(i.type())

  print('**************')

Elon Musk
Enterprenure
**************
Sundar Pichai
CEO
**************

#Python Decorators - functions which modify the functionality of another function/calss

In [81]:
"""@decName
def funcName():
  print('Learning decorators')

EQUAL TO

def funcName():
  print('python decorators')
funcName = decName(funcName)
"""

"@decName\ndef funcName():\n  print('Learning decorators')\n\nEQUAL TO\n\ndef funcName():\n  print('python decorators')\nfuncName = decName(funcName)\n"

#Function as object

In [90]:
def welcome(a):
  print('Hellow{0} ,welcome to python boot camp!!!'.format(a))

In [85]:
a = welcome # No parenthesis it will call a function - FUNCTION AS OBJECT
a('Champ')

HellowChamp,welcome to python boot camp!!!