<a href="https://colab.research.google.com/github/Madushani-Weerasekara/PracticePython/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions

##Intializing and calling bassic function

In [ ]:
def welcome():
  print("Hellow guyz welcome to the python boot camp!")

In [ ]:
welcome()

Hellow guyz welcome to the python boot camp!

##Intializing and calling bassic function - with argument

In [ ]:
def welcome(a):
  print("Hello {0},welcome to the python boot camp!".format(a))

In [ ]:
welcome("Madu")

Hello Madu,welcome to the python boot camp!

##Print and Return

In [ ]:
def add(a,b):
  add = a+b
  print("Sum of {0} and {1} is {2}".format(a,b,add)) # just print the statement. In print statement it won't save it in any memory.

In [ ]:
add(5,9)

Sum of 5 and 9 is 14

###Return

In [ ]:
def addR(a,b): # In return it will save in the memory
  add = a+b
  return add

In [ ]:
addR(5,9)

14

##Map function

In [ ]:
def cubeFn(num):
  return num**3

In [ ]:
a = [8,6,4,7,9,2,5]
list(map(cubeFn,a))

[512, 216, 64, 343, 729, 8, 125]

##Filter function

In [ ]:
def evenFn(num):
  return num % 2 == 0

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]

In [ ]:
print(list(filter(evenFn,a))) # The focus is on the when only the condition is true

[0, 2, 4, 6, 8, 10]

##Lambda function

In [ ]:
cubeFn = lambda num:num**3
cubeFn(6)

216

##args and *kwargs

###args

In [ ]:
def add(*argg): # Here, can use any variable instead of argg
  return sum(argg)

In [ ]:
add(45,63,1,25,76,100,86,95,42,37,250,94) # no need of defining all the variables in the function using this function we can pass any number of arguements.

914

###kwargs - dictionary of key/value pairs

In [ ]:
def func(**kwargs):
  if 'name' in kwargs:
    print("My name is {0}".format(kwargs['name']))
  if 'age' in kwargs:
    print('My age is {0}'.format(kwargs['age']))
  else:
    print('No key found')

In [ ]:
func(name = 'Madu', age = 23)

My name is Madu
My age is 23

#Object Oriented Programming

##Class

In [ ]:
class Student:
  print('Helllow all')
x = Student() #Object instantiation

Helllow all

In [ ]:
print(type(x))

<class '__main__.Student'>

In [ ]:
class Student:
  def studentFn():
    print('Hello all welcome to the session')
Student.studentFn()

Hello all welcome to the session

In [ ]:
class Student:
  def studentFn(self):
    print('Hellow all welcome to the session')
x = Student()
x.studentFn()

Hellow all welcome to the session

##Class object atribute

In [ ]:
class Student:
  year = 2021
  def studentFn(self):
    print('Hellow all welcome to the session')
x = Student()
x.year

2021

In [ ]:
class Student:
  year = 2021
  def studentFn(self):
    print('Hellow all welcome to the session',self.year)
x = Student()
x.studentFn()

Hellow all welcome to the session 2021

###Atribute of an object

In [ ]:
class Student:
  def __init__(self,name): # init(method) to initialize attribute os an object(constructor)
    pass
    self.name = name # self.name = attribute initialized
# creating instance of Student class(object of certain class)
elon = Student(name = 'Elon Musk') # name: argument
print(elon.name) # accessing class attribute through object

Elon Musk

In [ ]:
# Create multiple instance for a single class
class Student:
  def __init__(self,name):
    self.name = name
elon = Student(name = 'Elon Musk')
champ = Student(name = 'I am Champ')

print(elon.name)
print(champ.name)

Elon Musk
I am Champ

In [ ]:
class Student:
  def __init__(self,name,age):
    # Attribute initializing
    self.name = name 
    self.age = age
# create object
elon = Student(name = 'Elon Musk',age = 40)

print(elon.name)
print(elon.age)

Elon Musk
40

In [8]:
class Student:

  total = 500

  def __init__(self,marks):
    self.marks = marks
    print('Initialized...')

  def findLoss(self):
    return self.total - self.marks

  def findPercentage(self):
    return self.marks/self.total*100

a = Student(marks = 450)

print('Total Marks : ',a.total)
print('Lossed Marks : ',a.findLoss())
print('Percentage : ', a.findPercentage())

Initialized...
Total Marks :  500
Lossed Marks :  50
Percentage :  90.0

In [24]:
class Student:
  def __init__(self,name,marks,gender):
    self.name = name
    self.marks = marks
    self.gender = gender
  
    print('Initialized...')

  def __len__(self):
    return self.marks

  def __str__(self):
    return 'name : %s | marks : %s | gender : %s |'%(self.name,self.marks,self.gender)

  def __del__(self):
    print('Student database is deleted')

a = Student('Madu',450,'Female')

print(a)
print('Marks : ', len(a))
del a

Initialized...
name : Madu | marks : 450 | gender : Female |
Marks :  450
Student database is deleted

#Inheritance - Helps to reduce the complexity of the program

##Base class and Derived class

In [43]:
class Elon: # Base class
    def __init__(self):
      print('Profile has created')

    def name(self):
      print('Elon Musk')

    def age(self):
      print('Age is ',40)


class SpaceX(Elon):
  def __init__(self):
    Elon.__init__(self)
    Elon.name(self)
    print('Company profile created')


  def name(self):
    print('SpaceX')

  def type(self):
    print('Private space travel')

In [44]:
a = SpaceX()

Profile has created
Elon Musk
Company profile created