<a href="https://colab.research.google.com/github/Madushani-Weerasekara/PracticePython/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions

##Intializing and calling bassic function

In [ ]:
def welcome():
  print("Hellow guyz welcome to the python boot camp!")

In [ ]:
welcome()

Hellow guyz welcome to the python boot camp!

##Intializing and calling bassic function - with argument

In [ ]:
def welcome(a):
  print("Hello {0},welcome to the python boot camp!".format(a))

In [ ]:
welcome("Madu")

Hello Madu,welcome to the python boot camp!

##Print and Return

In [ ]:
def add(a,b):
  add = a+b
  print("Sum of {0} and {1} is {2}".format(a,b,add)) # just print the statement. In print statement it won't save it in any memory.

In [ ]:
add(5,9)

Sum of 5 and 9 is 14

###Return

In [ ]:
def addR(a,b): # In return it will save in the memory
  add = a+b
  return add

In [ ]:
addR(5,9)

14

##Map function

In [ ]:
def cubeFn(num):
  return num**3

In [ ]:
a = [8,6,4,7,9,2,5]
list(map(cubeFn,a))

[512, 216, 64, 343, 729, 8, 125]

##Filter function

In [ ]:
def evenFn(num):
  return num % 2 == 0

In [ ]:
a = [0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]

In [ ]:
print(list(filter(evenFn,a))) # The focus is on the when only the condition is true

[0, 2, 4, 6, 8, 10]

##Lambda function

In [ ]:
cubeFn = lambda num:num**3
cubeFn(6)

216

##args and *kwargs

###args

In [ ]:
def add(*argg): # Here, can use any variable instead of argg
  return sum(argg)

In [ ]:
add(45,63,1,25,76,100,86,95,42,37,250,94) # no need of defining all the variables in the function using this function we can pass any number of arguements.

914

###kwargs - dictionary of key/value pairs

In [ ]:
def func(**kwargs):
  if 'name' in kwargs:
    print("My name is {0}".format(kwargs['name']))
  if 'age' in kwargs:
    print('My age is {0}'.format(kwargs['age']))
  else:
    print('No key found')

In [ ]:
func(name = 'Madu', age = 23)

My name is Madu
My age is 23

#Object Oriented Programming

##Class

In [3]:
class Student:
  print('Helllow all')
x = Student() #Object instantiation

Helllow all

In [4]:
print(type(x))

<class '__main__.Student'>